force-app/main/default/flows/RC_Product_Creation_Engine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GetOrgBaseUrl</name>
        <label>GetOrgBaseUrl</label>
        <locationX>534</locationX>
        <locationY>8174</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_b2bsm_Store_Id</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>Product2</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>Get_Final_Product</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varT_baseURL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_productFullUrl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ParseCategoriesSelectionCommerce</name>
        <label>ParseCategoriesSelectionCommerce</label>
        <locationX>402</locationX>
        <locationY>7502</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopCategories</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>CategoriesSelectionCommerce</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ParseCommerceEntitlementPolicies</name>
        <label>ParseCommerceEntitlementPolicies</label>
        <locationX>402</locationX>
        <locationY>7046</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopCommerceEntitlementProducts</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Entitlement_Policies</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ParseCommercePricebooks</name>
        <label>ParseCommercePricebooks</label>
        <locationX>402</locationX>
        <locationY>5366</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopProductSellingModels</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>PricebookSelectionCommerce</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ParseCPQPricebookSelections</name>
        <label>ParseCPQPricebookSelections</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Record_with_Standard_CPQ_Configuration</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>PricebookSelection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ParseProductSellingModels</name>
        <label>ParseProductSellingModels</label>
        <locationX>402</locationX>
        <locationY>5246</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ParseCommercePricebooks</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Product_Selling_Models</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>EvergreenSubscription</name>
        <choiceText>Evergreen Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EvergreenSubscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoSubscription</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoSubscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>TermSubscription</name>
        <choiceText>Term Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TermSubscription</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Billing_Charge_Type</name>
        <label>Billing Charge Type</label>
        <locationX>336</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>Update_One_Time_Billing_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-Time</defaultConnectorLabel>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recurring_Billing_Fields</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Billing</name>
        <label>If Billing</label>
        <locationX>534</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>If_Commerce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Billing</defaultConnectorLabel>
        <rules>
            <name>Billing_Field_Assembly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillingFields</targetReference>
            </connector>
            <label>Billing Field Assembly</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Commerce</name>
        <label>If Commerce</label>
        <locationX>534</locationX>
        <locationY>5006</locationY>
        <defaultConnector>
            <targetReference>Get_Final_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Commerce</defaultConnectorLabel>
        <rules>
            <name>Commerce_Field_Assembly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Commerce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commerce_Fields</targetReference>
            </connector>
            <label>Commerce Field Assembly</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Configurable</name>
        <label>If Configurable</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>If_Subscription_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Configuration</defaultConnectorLabel>
        <rules>
            <name>ConfigurableProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Configurable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_CPQ_Configuration</targetReference>
            </connector>
            <label>ConfigurableProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CPQ</name>
        <label>If CPQ</label>
        <locationX>534</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>If_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CPQ</defaultConnectorLabel>
        <rules>
            <name>CPQ_Field_Assembly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPQ_Fields</targetReference>
            </connector>
            <label>CPQ Field Assembly</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Subscription_Term</name>
        <label>If Subscription Term</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>LoopCPQCurrencyStandard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Subscription</defaultConnectorLabel>
        <rules>
            <name>TermSubscriptionProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TermSubscription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Term_Subscription</targetReference>
            </connector>
            <label>TermSubscriptionProduct</label>
        </rules>
        <rules>
            <name>EvergreenSubscriptionProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EvergreenSubscription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Evergreen_Subscription</targetReference>
            </connector>
            <label>EvergreenSubscriptionProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Selling_Models_Decision</name>
        <label>Product Selling Models Decision</label>
        <locationX>754</locationX>
        <locationY>5606</locationY>
        <defaultConnector>
            <targetReference>Create_One_Time_Product_Selling_Models</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-Time</defaultConnectorLabel>
        <rules>
            <name>Recurring_PSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopProductSellingModels</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Monthly_Proration_Policy</targetReference>
            </connector>
            <label>Recurring PSM</label>
        </rules>
    </decisions>
    <description>v3 - fixing the end screen</description>
    <dynamicChoiceSets>
        <name>BillingFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingFrequency__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Categories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProductCategory</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChargeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__ChargeType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Commerce_Pricebooks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CommerceEntitlementPolicies</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CommerceEntitlementPolicy</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CPQ_Pricebooks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductFamily</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductSellingModels</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ProductSellingModel</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CommercePricebooksPriceWithCurrency</name>
        <dataType>Currency</dataType>
        <expression>{!LoopCommerceCurrencyPricebooks.ConversionRate}*{!Standard_Price}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CommerceStandardPriceWithCurrency</name>
        <dataType>Currency</dataType>
        <expression>{!LoopCommerceCurrencyStandard.ConversionRate}*{!Standard_Price}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CPQPricebooksCostWithCurrency</name>
        <dataType>Currency</dataType>
        <expression>
            {!LoopCPQCurrencyPricebooks.ConversionRate}*{!Standard_Price}*{!PriceToCostConversionFactor}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CPQPricebooksPriceWithCurrency</name>
        <dataType>Currency</dataType>
        <expression>{!LoopCPQCurrencyPricebooks.ConversionRate}*{!Standard_Price}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Cost is current loop iteration * percentage for costs variable (60%?)</description>
        <name>CPQStandardCostWithCurrency</name>
        <dataType>Currency</dataType>
        <expression>
            {!LoopCPQCurrencyStandard.ConversionRate}*{!Standard_Price}*{!PriceToCostConversionFactor}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>conversion rate * standard price</description>
        <name>CPQStandardPriceWithCurrency</name>
        <dataType>Currency</dataType>
        <expression>{!LoopCPQCurrencyStandard.ConversionRate}*{!Standard_Price}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Product Creation Engine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC - Product Creation Engine</label>
    <loops>
        <name>LoopCategories</name>
        <label>LoopCategories</label>
        <locationX>402</locationX>
        <locationY>7622</locationY>
        <collectionReference>ParseCategoriesSelectionCommerce</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Product_Category_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Final_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCommerceCurrencyPricebooks</name>
        <label>LoopCommerceCurrencyPricebooks</label>
        <locationX>754</locationX>
        <locationY>6398</locationY>
        <collectionReference>Get_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopCommercePricebooks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopProductSellingModels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCommerceCurrencyStandard</name>
        <label>LoopCommerceCurrencyStandard</label>
        <locationX>754</locationX>
        <locationY>6062</locationY>
        <collectionReference>Get_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Commerce_Standard_Pricebook_Entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopCommerceCurrencyPricebooks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCommerceEntitlementProducts</name>
        <label>LoopCommerceEntitlementProducts</label>
        <locationX>402</locationX>
        <locationY>7166</locationY>
        <collectionReference>ParseCommerceEntitlementPolicies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Commerce_Entitlements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParseCategoriesSelectionCommerce</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCommercePricebooks</name>
        <label>LoopCommercePricebooks</label>
        <locationX>930</locationX>
        <locationY>6518</locationY>
        <collectionReference>ParseCommercePricebooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Commerce_Pricebook_Entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopCommerceCurrencyPricebooks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCPQCurrencyPricebooks</name>
        <label>LoopCPQCurrencyPricebooks</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <collectionReference>Get_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopPricebookSelection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Approval_Threshold_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCPQCurrencyStandard</name>
        <label>LoopCPQCurrencyStandard</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPQ_Cost_Standard_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopCPQCurrencyPricebooks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPricebookSelection</name>
        <label>LoopPricebookSelection</label>
        <locationX>490</locationX>
        <locationY>2606</locationY>
        <collectionReference>ParseCPQPricebookSelections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPQ_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopCPQCurrencyPricebooks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductSellingModels</name>
        <label>LoopProductSellingModels</label>
        <locationX>402</locationX>
        <locationY>5486</locationY>
        <collectionReference>ParseProductSellingModels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Selling_Models_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParseCommerceEntitlementPolicies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Threshold_1</name>
        <label>Create Approval Threshold 1</label>
        <locationX>314</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Create_Approval_Threshold_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Level__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lower_Bound_Percent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threshold_Type__c</field>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper_Bound_Percent__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <object>Approval_Threshold__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Threshold_2</name>
        <label>Create Approval Threshold 2</label>
        <locationX>314</locationX>
        <locationY>3158</locationY>
        <connector>
            <targetReference>Create_Approval_Threshold_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Level__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lower_Bound_Percent__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threshold_Type__c</field>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper_Bound_Percent__c</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <object>Approval_Threshold__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Threshold_3</name>
        <label>Create Approval Threshold 3</label>
        <locationX>314</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Create_Approval_Threshold_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Level__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lower_Bound_Percent__c</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threshold_Type__c</field>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper_Bound_Percent__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <object>Approval_Threshold__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Threshold_4</name>
        <label>Create Approval Threshold 4</label>
        <locationX>314</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>If_Billing</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Level__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lower_Bound_Percent__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threshold_Type__c</field>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper_Bound_Percent__c</field>
        </inputAssignments>
        <object>Approval_Threshold__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Baseline_Product</name>
        <label>Create Baseline Product</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Currencies</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>BaselineProductDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family</field>
            <value>
                <elementReference>BaselineProductFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>BaselineProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockKeepingUnit</field>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Commerce_Entitlements</name>
        <label>Create Commerce Entitlements</label>
        <locationX>490</locationX>
        <locationY>7286</locationY>
        <connector>
            <targetReference>LoopCommerceEntitlementProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>PolicyId</field>
            <value>
                <elementReference>LoopCommerceEntitlementProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <object>CommerceEntitlementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Commerce_Pricebook_Entries</name>
        <label>Create Commerce Pricebook Entries</label>
        <locationX>1018</locationX>
        <locationY>6638</locationY>
        <connector>
            <targetReference>LoopCommercePricebooks</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopCommerceCurrencyPricebooks.IsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>LoopCommercePricebooks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductSellingModelId</field>
            <value>
                <elementReference>LoopProductSellingModels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>CommercePricebooksPriceWithCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Commerce_Standard_Pricebook_Entries</name>
        <label>Create Commerce Standard Pricebook Entries</label>
        <locationX>842</locationX>
        <locationY>6182</locationY>
        <connector>
            <targetReference>LoopCommerceCurrencyStandard</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopCommerceCurrencyStandard.IsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductSellingModelId</field>
            <value>
                <elementReference>LoopProductSellingModels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>CommerceStandardPriceWithCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPQ_Cost_Standard_Price</name>
        <label>Create CPQ Cost Standard Price</label>
        <locationX>402</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Create_CPQ_Standard_Pricebook_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopCPQCurrencyStandard.IsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__UnitCost__c</field>
            <value>
                <elementReference>CPQStandardCostWithCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPQ_Pricebook_Entry</name>
        <label>Create CPQ Pricebook Entry</label>
        <locationX>578</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>LoopPricebookSelection</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopCPQCurrencyPricebooks.IsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>LoopPricebookSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>CPQPricebooksPriceWithCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPQ_Standard_Pricebook_Entry</name>
        <label>Create CPQ Standard Pricebook Entry</label>
        <locationX>402</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>LoopCPQCurrencyStandard</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopCPQCurrencyStandard.IsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>CPQStandardPriceWithCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Time_Product_Selling_Models</name>
        <label>Create One-Time Product Selling Models</label>
        <locationX>886</locationX>
        <locationY>5726</locationY>
        <connector>
            <targetReference>LoopCommerceCurrencyStandard</targetReference>
        </connector>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductSellingModelId</field>
            <value>
                <elementReference>LoopProductSellingModels</elementReference>
            </value>
        </inputAssignments>
        <object>ProductSellingModelOption</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Category_Products</name>
        <label>Create Product Category Products</label>
        <locationX>490</locationX>
        <locationY>7742</locationY>
        <connector>
            <targetReference>LoopCategories</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCategoryId</field>
            <value>
                <elementReference>LoopCategories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <object>ProductCategoryProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Recurring_Product_Selling_Models</name>
        <label>Create Recurring Product Selling Models</label>
        <locationX>622</locationX>
        <locationY>5846</locationY>
        <connector>
            <targetReference>LoopCommerceCurrencyStandard</targetReference>
        </connector>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductSellingModelId</field>
            <value>
                <elementReference>LoopProductSellingModels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProrationPolicyId</field>
            <value>
                <elementReference>Get_Monthly_Proration_Policy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductSellingModelOption</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_One_Time_Billing_Rule</name>
        <label>Find One-Time Billing Rule</label>
        <locationX>336</locationX>
        <locationY>3974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Recurring_Billing_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Invoice - Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_One_Time_Rev_Rec_Rule</name>
        <label>Find One-Time Rev Rec Rule</label>
        <locationX>336</locationX>
        <locationY>4214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Recurring_Rev_Rec_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>100% Full</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Recurring_Billing_Rule</name>
        <label>Find Recurring Billing Rule</label>
        <locationX>336</locationX>
        <locationY>4094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_One_Time_Rev_Rec_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Invoice - Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Recurring_Rev_Rec_Rule</name>
        <label>Find Recurring Rev Rec Rule</label>
        <locationX>336</locationX>
        <locationY>4334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Tax_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>100% Ratable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Tax_Rule</name>
        <label>Find Tax Rule</label>
        <locationX>336</locationX>
        <locationY>4454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Charge_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Avalara</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_b2bsm_Store_Id</name>
        <label>Get b2bsm Store Id</label>
        <locationX>534</locationX>
        <locationY>8294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>b2bsm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Currencies</name>
        <label>Get Currencies</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Uploaded_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Product</name>
        <label>Get Final Product</label>
        <locationX>534</locationX>
        <locationY>8054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrgBaseUrl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Monthly_Proration_Policy</name>
        <label>Get Monthly Proration Policy</label>
        <locationX>622</locationX>
        <locationY>5726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Recurring_Product_Selling_Models</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProrationPolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook_ID</name>
        <label>Get Standard Pricebook ID</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Baseline_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Uploaded_Product</name>
        <label>Get Uploaded Product</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_CPQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductDescription</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductFamily</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Fields</name>
        <label>Update Billing Fields</label>
        <locationX>336</locationX>
        <locationY>3854</locationY>
        <connector>
            <targetReference>Find_One_Time_Billing_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>Billing_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingType__c</field>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ChargeType__c</field>
            <value>
                <elementReference>Charge_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Taxable__c</field>
            <value>
                <elementReference>Taxable</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_One_Time_Billing_Fields</name>
        <label>Update One-Time Billing Fields</label>
        <locationX>468</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>If_Commerce</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>Find_One_Time_Billing_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RevenueRecognitionRule__c</field>
            <value>
                <elementReference>Find_One_Time_Rev_Rec_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>Find_Tax_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Evergreen_Subscription</name>
        <label>Update Record Evergreen Subscription</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>LoopCPQCurrencyStandard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductDescription</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductFamily</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__SubscriptionPricing__c</field>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionType__c</field>
            <value>
                <stringValue>Evergreen</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Term_Subscription</name>
        <label>Update Record Term Subscription</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>LoopCPQCurrencyStandard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductDescription</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductFamily</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__SubscriptionPricing__c</field>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionType__c</field>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_CPQ_Configuration</name>
        <label>Update Record with CPQ Configuration</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>If_Subscription_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductDescription</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductFamily</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__ConfigurationEvent__c</field>
            <value>
                <stringValue>Always</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConfigurationType__c</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Standard_CPQ_Configuration</name>
        <label>Update Record with Standard CPQ Configuration</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>If_Configurable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductDescription</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaselineProductFamily</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__PricingMethod__c</field>
            <value>
                <stringValue>List</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recurring_Billing_Fields</name>
        <label>Update Recurring Billing Fields</label>
        <locationX>204</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>If_Commerce</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Baseline_Product</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>Find_Recurring_Billing_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RevenueRecognitionRule__c</field>
            <value>
                <elementReference>Find_Recurring_Rev_Rec_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>Find_Tax_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Baseline_Product_Fields</name>
        <label>Baseline Product Fields</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Standard_Pricebook_ID</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_BaselineFields</name>
            <fieldText>Baseline</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_BaselineFields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BaselineProductName</name>
                    <dataType>String</dataType>
                    <fieldText>Product Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BaselineProductDescription</name>
                    <dataType>String</dataType>
                    <fieldText>Product Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_BaselineFields_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BaselineProductCode</name>
                    <dataType>String</dataType>
                    <fieldText>Product Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BaselineProductFamily</name>
                    <choiceReferences>ProductFamily</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Family</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BillingFields</name>
        <label>Billing Fields</label>
        <locationX>336</locationX>
        <locationY>3734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Billing_Fields</targetReference>
        </connector>
        <fields>
            <name>BillingSection</name>
            <fieldText>Billing</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BillingSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Charge_Type</name>
                    <choiceReferences>ChargeType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>One-Time</stringValue>
                    </defaultValue>
                    <fieldText>Charge Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Billing_Frequency</name>
                    <choiceReferences>BillingFrequency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Billing Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Charge_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recurring</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Charge_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Usage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_Type</name>
                    <choiceReferences>BillingType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Billing Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Charge_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recurring</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Charge_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Usage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Taxable</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Taxable</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Commerce_Fields</name>
        <label>Commerce Fields</label>
        <locationX>402</locationX>
        <locationY>5126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ParseProductSellingModels</targetReference>
        </connector>
        <fields>
            <name>CommerceSection</name>
            <fieldText>Commerce</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CommerceSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Selling_Models</name>
                    <choiceReferences>ProductSellingModels</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Selling Models</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PricebookSelectionCommerce</name>
                    <choiceReferences>Commerce_Pricebooks</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pricebooks</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;Standard Price Book is always included.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Entitlement_Policies</name>
                    <choiceReferences>CommerceEntitlementPolicies</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entitlement Policies</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CategoriesSelectionCommerce</name>
                    <choiceReferences>Categories</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Categories</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CPQ_Fields</name>
        <label>CPQ Fields</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ParseCPQPricebookSelections</targetReference>
        </connector>
        <fields>
            <name>CPQFields</name>
            <fieldText>CPQ</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CPQFields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Configurable</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Configurable?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PricebookSelection</name>
                    <choiceReferences>CPQ_Pricebooks</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pricebook Selection</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;The Standard Price Book is always included. The following is
                        a list of additional pricebooks that are relevant to CPQ.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Standard_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Standard Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CPQFields_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subscription</name>
                    <choiceReferences>TermSubscription</choiceReferences>
                    <choiceReferences>EvergreenSubscription</choiceReferences>
                    <choiceReferences>NoSubscription</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>NoSubscription</defaultSelectedChoiceReference>
                    <fieldText>Subscription?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Subscription_Term</name>
                    <dataType>Number</dataType>
                    <fieldText>Subscription Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Subscription</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EvergreenSubscription</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Subscription</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TermSubscription</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>534</locationX>
        <locationY>8414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndScreen</name>
            <fieldText>&lt;p&gt;View your created product by clicking the following link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!varT_productFullUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Product Record: {!Get_Final_Product.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If using Commerce, make sure to &lt;strong&gt;Rebuild your Search Index&lt;/strong&gt; on your active stores from &lt;a href=&quot;{!varT_baseURL}/lightning/setup/CommerceStore/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Commerce Setup&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Active Commerce Stores:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!varT_baseURL}/lightning/r/WebStore/{!Get_b2bsm_Store_Id.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_b2bsm_Store_Id.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create a new product and add it to the database.</description>
        <name>New_Product_Creation</name>
        <label>New Product Creation</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Baseline_Product_Fields</targetReference>
        </connector>
        <fields>
            <name>Context</name>
            <fieldText>&lt;p&gt;In what solutions will this product be used?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CPQ</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>CPQ</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Will this product be used with a direct sales motion?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Billing</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color:
                rgb(68, 68, 68);&quot;&gt;Will this product be used within a demonstration of
                Invoicing capabilities on platform?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CPQ</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Commerce</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Commerce</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color:
                rgb(255, 255, 255);&quot;&gt;Will this product be used within a customer-driven,
                self-checkout motion?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Create a new product off of an existing template.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Get Started</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Product_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PriceToCostConversionFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.6</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_baseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_productFullUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
